<!DOCTYPE html>
<html th:lang="#{page.lang}" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/assets/images/if.png}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/styles/style.css}">
	<title th:text="#{page.title}"></title>
</head>

<body class="flex-column ">
	<div id="background-click-container"></div>
	<header>
		<a href="/">
			<div id="adeus-ifms-logo" class="flex-row">
				<img th:src="@{/assets/images/if.png}" th:alt="#{page.image.alt.if}">
				<h1 class="green-gradient-background" th:text="#{page.header}"></h1>
			</div>
		</a>
		<div id="language-selector" class="flex-row">
			<button id="language-selector-button" class="flex-row">
				<img class="flag" th:src="#{page.header.actuallanguage.image}" th:alt="#{page.image.alt.language}">
				<p th:text="#{page.header.actuallanguage}"></p>
				<img id="chevron-down" th:src="@{/assets/icons/chevron-down.svg}">
			</button>
			<ul id="menu-options">
				<a href="/?locale=pt_BR">
					<li>
						<img class="flag" th:src="@{/assets/images/brasil.png}" th:alt="#{page.image.alt.pt}">
						<p th:text="#{page.header.language.pt}"></p>
					</li>
				</a>
				<a href="/?locale=en_US">
					<li>
						<img class="flag" th:src="@{/assets/images/united-kingdom.png}" alt="#{page.image.alt.en}">
						<p th:text="#{page.header.language.en}"></p>
					</li>
				</a>
			</ul>
		</div>
	</header>
	<content>
		<span class="flex-column">
			<p th:text="${countAdeus}"></p>
			<h2 th:if="${countAdeus == 1}" th:text="#{page.content.h2}"></h2>
			<h2 th:unless="${countAdeus == 1}" th:text="#{page.content.h2.plural}"></h2>
		</span>
		<br>
		<p th:text="#{page.content.p}"></p>
	</content>
	<form id="say-goodbye-form" action="/adeus" method="post">
		<button id="say-goodbye-button" class="green-gradient-background">
			<p th:text="#{page.content.button}"></p>
		</button>
	</form>
</body>

<script type="text/javascript" th:inline="javascript" >
    const contentSaidGoodbyePText = /*[[#{page.content.p.saidgoodbye}]]*/"";
</script>

<script type="text/javascript" th:src="@{/scripts/languagesMenu.js}"></script>
<script type="text/javascript" th:src="@{/scripts/goodbyeButton.js}"></script>

</html>