<!DOCTYPE html>
<html th:lang="#{page.lang}" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" th:href="@{/assets/images/if.png}" type="image/x-icon">
	<link rel="stylesheet" th:href="@{/styles/style.css}">
	<title th:text="#{page.title}"></title>
</head>

<body class="flex-column ">
	<div id="background-click-container"></div>
	<header>
		<a href="/">
			<div id="adeus-ifms-logo" class="flex-row">
				<img th:src="@{/assets/images/if.png}" alt="Logo do IFMS">
				<h1 class="green-gradient-background" th:text="#{page.header}"></h1>
			</div>
		</a>
		<div id="language-selector" class="flex-row">
			<button id="language-selector-button" class="flex-row">
				<img class="flag" th:src="#{page.header.actuallanguage.image}" alt="Bandeira da língua escolhida">
				<p th:text="#{page.header.actuallanguage}"></p>
				<img id="chevron-down" th:src="@{/assets/icons/chevron-down.svg}">
			</button>
			<ul id="menu-options">
				<a href="/?locale=pt_BR">
					<li>
						<img class="flag" th:src="@{/assets/images/brasil.png}" alt="Bandeira do Brasil">
						<p th:text="#{page.header.language.pt}"></p>
					</li>
				</a>
				<a href="/?locale=en_US">
					<li>
						<img class="flag" th:src="@{/assets/images/united-kingdom.png}" alt="Bandeira do Reino Unido">
						<p th:text="#{page.header.language.en}"></p>
					</li>
				</a>
			</ul>
		</div>
	</header>
	<content>
		<span class="flex-column">
			<p>0</p>
			<h2 th:text="#{page.content.h2}" ></h2>
		</span>
		<br>
		<p th:text="#{page.content.p}" ></p>
	</content>
	<button id="say-goodbye-button" class="green-gradient-background">
		<p th:text="#{page.content.button}" ></p>
	</button>
</body>

<script>
	let languageSelectorButton = document.querySelector("#language-selector-button");
	let menuOptions = document.querySelector("#menu-options");
	let backgroundClickContainer = document.querySelector("#background-click-container");

	const showLanguagesMenu = () => {
		backgroundClickContainer.style = "z-index: 1; display: block;";
		menuOptions.style = "z-index: 2; display: block;";
	}

	const hideLanguagesMenu = () => {
		backgroundClickContainer.style = "z-index: -1; display: none;";
		menuOptions.style = "z-index: -1; display: none;";
	}

	languageSelectorButton.addEventListener("click", showLanguagesMenu, false);

	backgroundClickContainer.addEventListener("click", hideLanguagesMenu, false);
</script>

</html>